---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Creepy Code</title>

  <link rel="stylesheet" href="assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


</head>
<body>

  <div class="home-wrap">
  {% include header.html %}

  <div class="home-sections">

    <!-- All sections here -->
   {% include glitch.html %}
   {% include description-code.html %}
   {% include article4.html %}
   {% include article3.html %}
   {% include article2.html %}
   {% include article1.html %}
   {% include footer.html %}










   <!-- <div style="height: 2000px"></div> -->




  </div>
  </div>
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/functions.js"></script>

</body>
</html>
