---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Rockstar - książka</title>

  <link rel="stylesheet" href="assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


</head>
<body>
{% include header.html %}
{% include book.html %}
{% include author.html %}

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/functions.js"></script>

</body>
</html>


<!--
Ruby global change to 2.6.3
export PATH="$HOME/.rbenv/bin:$PATH"
eval "$(rbenv init -)"
 -->
