<section id="newest" class="articles">
  <div id="appear_image_ost"></div>
  <div class="left-column-article1">
    <span class="article-number">Article #4</span><br>
    <span class="article-name">Designing portfolio - Header</span><br>
  </div>
  <div class="right-column-article1">
  <div class="article2-logo"></div>

  </div>
  <div class="article-date">28th of August 2019</div>
  <div class="article-text">

    <h1>Olá!</h1>
    Some time ago I started creating my personal portfolio website, when I want publish my projects.
    First step to make was header section, which I designed using Adobe XD. General idea was really obvious
    to me. I used to play in a band, so in Affinity Designer (great program for vector graphics) I
    designed instruments and came with "catchy" slogan "Never too old to rock... with websites" <br><br>

    Header's design had 2 versions. First one was really colorful with main yellow color. I liked it at first,
    but after some time I realised It's maybe too cartoony... <br>

    <img id="header-yellow"  src="assets/img/header-yellow.png">

    ...so I came up with more simple version. Yellow color was replaced by red-blue gradient, and
    I changed colors of instruments' graphics to white and dark blue. <br>
    <img id="header-red"  src="assets/img/header-red.png">

    Coding that header was rather time-consuming than hard, mainly beacuse I wanted to make it
    full responsive. I created burger menu adjusting Traversy Media
    <a href="https://www.youtube.com/watch?v=DZg6UfS5zYg" target="_blank">tutorial</a> for my own needs. I learned
    a lot from it. Thanks for reading! Ha det bra!

    <div class="article-buttons-wrap">
      <div class="inner-article-buttons-wrap">
      <a href="https://github.com/blazejwilczynski/portfolio" target="_blank" class="button-article"> Code (Github)</a>
      <a href="https://blazejwilczynski.github.io/portfolio" target="_blank" class="button-article"> Live</a>
      </div>
    </div>






  </div>

</section>
