<section class="articles">
  <div id="appear_image_ost"></div>
  <div class="left-column-article1">
    <span class="article-number">Article #2</span><br>
    <span class="article-name">Next design and little JS</span><br>
  </div>
  <div class="right-column-article1">
  <div class="article2-logo"></div>

  </div>
  <div class="article-date">16th of July 2019</div>
  <div class="article-text">

    <h1>Aloha!</h1>
    Time for next design and this time maybe for a little JavaScript. I'm
    totally beginner in JS, but maybe with little 'googling' I will solve my project. (Currently
    I started to learn JS, but as I said I'm only beginner with a long road to go). I got and idea to use
    one of my old graphics and create a poster of my imaginary rock band called "Party in a Dorm Room". <br><br>
    I set the date for 7th of July 2021 and I would try to make countdown timer with JavaScript tutorial help. I found
    one one on YouTube <a href="https://www.youtube.com/watch?v=NJVJRFF-Y6U" target="_blank"> Sam's channel </a>.
    In this project I also had to include fonts which are not available on Google Fonts, and I didn't know how to do it, but
    I found great <a href="https://css-tricks.com/snippets/css/using-font-face/" target="_blank"> article</a> on  CSS-Tricks.<br>
    <img id="party-leaflet" alt="Party in a Dorm Room band poster with JS timer" src="assets/img/party-leaflet.jpg">
    <br>It was harder, than I thought, but finally I coded this little project. I had to change the font
    of timer numbers, because Slash' font zero looked like 8. JS script was practically rewrited,
    so it was a little step towards learning JavaScript. Code and live version below:

    <div class="article-buttons-wrap">
      <div class="inner-article-buttons-wrap">
      <a href="https://github.com/blazejwilczynski/creepy-code/tree/master/code-snippets/party-leaflet" target="_blank" class="button-article"> Code (Github)</a>
      <a href="code-snippets/party-leaflet/" target="_blank" class="button-article"> Live</a>
      </div>
    </div>

    <br>PS1. Lastly I started learning new 3d program - Blender, which is free and has new huge update - version 2.8,
    and I'm super excited about it. It can be downloaded from <a href="http://www.blender.org" target="_blank">blender.org</a> and
    it can be used freely even for commercial use. Greetz!<br>






  </div>

</section>
