<section  class="articles">
  <div id="appear_image_ost"></div>
  <div class="left-column-article1">
    <span class="article-number">Article #3</span><br>
    <span class="article-name">Design of this dev diary</span><br>
  </div>
  <div class="right-column-article1">
  <div class="article2-logo"></div>

  </div>
  <div class="article-date">19th of July 2019</div>
  <div class="article-text">

    <h1>Hei!</h1>
    I think that's good time for establish final version of design of this blog or maybe not a blog, but rather
    a dev diary. As I wrote in first article, design of this site is an outcome of tutorial one of my biggest idols
    -  <a href="http://travisneilson.com/" target="_blank">Travis Neilson</a> and his former YouTube channel
    <a href="https://www.youtube.com/user/DevTipsForDesigners/" target="_blank">DevTips</a>. Two times I watched (and coded along way) his
     <a href="https://www.youtube.com/watch?v=sJhhLvW-Xvg&list=PLqGj3iMvMa4KeBN2krBtcO3U90_7SOl-A" target="_blank"> tutorial </a>named
    "Design + Code my Personal Website". Therefore design of this dev diary is redesign, of that tutorial. As usually I designed it
    in Adobe XD, and I really start to like this program and can't imagine starting creating website without it.
     What is more
    I started learning basics of JavaScript on <a href="https://frontendmasters.com/" target="_blank">Frontend Masters</a>.
    They have lesson "Getting started with JavaScript" by Kyle Simpson for free, after ending that I will think
    about buying subscription.    <br>

    <img id="creepy-code-template" alt="Pet hotel prototype" src="assets/img/creepy-code-template.png">


    <div class="article-buttons-wrap">
      <div class="inner-article-buttons-wrap">
      <a href="https://github.com/blazejwilczynski/creepy-code" target="_blank" class="button-article"> Code (Github)</a>
      <a href="https://blazejwilczynski.github.io/creepy-code/" target="_blank" class="button-article"> Live</a>
      </div>
    </div>






  </div>

</section>
