<section class="book" id="download-book">
  <div class="book-elements-wrap">
    <div class="cover-container">
      <div class="rockstar-cover"></div>
      <div class="cover-plate"></div>
    </div>
     <div class="book-download-container">
       <div class="book-download-title">Pobierz egzemplarz książki w wybranym formacie:</div>
       <div class="book-download-buttons">
         <a href="downloads/rockstar.epub" class="button-epub">.epub</a>
         <a href="downloads/rockstar.mobi" class="button-mobi">.mobi</a>
         <a href="downloads/rockstar.pdf" class="button-pdf">.pdf</a>
       </div>
       <div class="book-description">
          Mikołaj kończy właśnie 30 lat i nie dość, że postanawia iść na studia,
           to w dodatku zamieszkuje w akademiku. Oczywiście nie jest do końca przekonany do swojego pomysłu,
           ponieważ, jak sam twierdzi, rozpocząć studia i zamieszkać w akademiku w wieku 30 lat, to niemal tak samo,
            jak skończyć osiemnastkę i na drugi dzień zapisać się do przedszkolnej grupy starszaków. Co więcej, 
            Mikołaj zostaje posądzony o morderstwo, 
            które na początku wydawało się być jedynie samobójstwem w akademikowej kuchni. 
            Wraz z pomagającym mu policjantem musi odnaleźć zabójcę, a co ważniejsze, przywrócić wiarę w stwierdzenie, że „najlepsze imprezy zawsze przenoszą się do kuchni”. 
            I gdzie tu jeszcze znaleźć czas, żeby zostać gwiazdą rocka?





       </div>
     </div>
  </div>
</section>
