<header>
    <div class="header-element-1"></div>
    <div class="header-element-2"></div>
    <div class="header-element-3"></div>
  <nav>
    <div class="logo"></div>
    <div class="nav-element" id="download">
      <a href="#download-book" class="download">Pobierz książkę</a>
    </div>
    <div class="bolt" id="download-bolt"></div>
    <div class="red"></div>
    <div class="nav-element" id="about"><a href="#about-me">O autorze</a></div>
    <div class="bolt" id="about-bolt"></div>
    <div class="social-logo-nav"><a href="https://www.instagram.com/blazej_wilczynski" target="_blank">{% include icons/instagram-logo.html %}</a></div>
    <div class="social-logo-nav"><a href="https://www.instagram.com/blazej_wilczynski" target="_blank">{% include icons/facebook-logo.html %}</a></div>
    
    <!-- start of code of hamburger toggler -->
    <div class="menu-wrap">

      <input type="checkbox" class="toggler">
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="#download-book">Pobierz książkę</a></li>
              <li><a href="#about-me">O AUTORZE</a></li>
              

            </ul>
            
            <div id="facebook-mobile"  class="social-logo-nav-mobile"><a href="https://www.instagram.com/blazej_wilczynski" target="_blank">{% include icons/facebook-logo.html %}</a></div>
            <div  class="social-logo-nav-mobile"><a href="https://www.instagram.com/blazej_wilczynski" target="_blank">{% include icons/instagram-logo.html %}</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of code of hamburger -->


  </nav>
  <div class="header-elements-wrap">
    <div class="header-elements-center">
      <div class="header-elements-axe"></div>
      <div class="header-elements-main"></div>
      <div class="header-elements-denaturat"></div>
      <div class="header-elements-coffe"></div>
    </div>
  </div>
  




</header>
