<!-- start of code of hamburger toggler -->
<div class="menu-wrap">

  <input type="checkbox" class="toggler">
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="#newest">NEWEST</a></li>
          <li><a href="#oldest">OLDEST</a></li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end of code of hamburger -->

<header>
  <div class="header-position">
    <h1 class="logo">Creepy Logo</h1>
    <nav class="site-nav">
      <ul>
        <li><a href="#newest">   newest </a></li>
        <li><a href="#oldest">   oldest </a></li>
      </ul>
    </nav>

    <div class="social-icons-wrap">
      <a href="https://github.com/blazejwilczynski" target="_blank"><div class="github-icon">{% include icons/github-logo.html %}</div></a>
      <a href="https://www.behance.net/blazejwilczynski" target="_blank"><div class="behance-icon">{% include icons/behance-logo-coral.html %}</div></a>
    </div>

    <div class="mobile-nav-toggle ">


      <span></span>

    </div>
  </div>


</header>
