.book {
  
  width: 100%;
  padding-top: 35px;
  display: block;
 
}

.book .book-elements-wrap {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.book .book-elements-wrap .cover-container {
  height: 657px;
  width: 474px;
 
  margin-right: 15px;
  position: relative;
}


.book .book-elements-wrap .cover-container .rockstar-cover {
  height: 628px;
  width: 439px;
  background-image: url('../img/rockstar-cover-hq.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;
  position: absolute;
  margin-left: 29px;
  z-index: 100;
  
}

.book .book-elements-wrap .cover-container  .cover-plate {
  height: 628px;
  width: 439px;
  background: $orange;
  top: 30px;
  z-index: 1;
  
  position: absolute;
}


.book .book-elements-wrap .book-download-container {
  height: 720px;
  width: 585px;
  margin-left: 15px;
  

}

.book .book-elements-wrap .book-download-container .book-download-title {
  text-align: center;
  color: $dark-blue;
  opacity: 0.75;
  font-size: 22px;

}

.book .book-elements-wrap .book-download-container .book-development {
  text-align: center;
  font-weight: 300;
  font-family: Lato;
  color: $red-base;
  font-size: 15px;

}

.book .book-elements-wrap .book-download-container  .book-download-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.book .book-elements-wrap .book-download-container  .book-download-buttons .button-epub,.button-mobi,.button-pdf  {
  font-size: 18px;
  color: white;
  margin-left: 30px;
  background: $orange;
  border: 2px solid $orange;
  border-radius: 2em;
  padding:0.25em 1.0em;

}

.book .book-elements-wrap .book-download-container  .book-download-buttons .button-epub {
  margin-left: 0px;
}



.book .book-elements-wrap .book-download-container  .book-download-buttons .button-epub:hover, .button-mobi:hover, .button-pdf:hover {
  background: white;
  border-color: $orange;
  color: $orange;
}

.book-description-wrap {
  margin-bottom: 10px;
  background: lightcoral;
  position: relative;
  padding-bottom: 5px;
}

.book-description {
  margin: 50px auto;
  font-size: 18px;
  font-weight: 300;
  max-width: 500px;
  text-align: justify;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
  
  
}



/* media query 1150px */

@media screen and (max-width: 1150px) {
  
  /* rockstar cover for 1150px dimensions */

  .book .book-elements-wrap {
    max-width: 1010px;
  }  

  .book .book-elements-wrap .cover-container {
    height: 607px;
    width: 424px;
  }  

  .book .book-elements-wrap .cover-container .rockstar-cover {
    height: 578px;
    width: 399px;
  }

  .book .book-elements-wrap .cover-container  .cover-plate {
    height: 578px;
    width: 399px;
  }
  
  /* rockstar description and download buttons for 1150px dimensions */

  .book .book-elements-wrap .book-download-container {
    height: 650px;
    width: 450px;
    margin-left: 30px;
  } 

  .book .book-elements-wrap .book-download-container .book-download-title {
    font-size: 20px;
  }

}

/* media query 950px */

@media screen and (max-width: 950px) {

  .book .book-elements-wrap {
    max-width: 960px;
  }   

 /* rockstar cover for 950px dimensions */

 .book .book-elements-wrap .cover-container {
  height: 557px;
  width: 398px;
}  

.book .book-elements-wrap .cover-container .rockstar-cover {
  height: 527px;
  width: 368px;
}

.book .book-elements-wrap .cover-container  .cover-plate {
  height: 527px;
  width: 368px;
}

.book .book-elements-wrap .book-download-container {
  height: 600px;
  width: 400px;
  margin-left: 20px;
} 

.book .book-elements-wrap .book-download-container .book-download-title {
  font-size: 18px;
}

.book-description {
  font-size: 17px;
}


}

/* media query 900px */

@media screen and (max-width: 900px) {

  .book .book-elements-wrap {
    flex-wrap: wrap;
  }

  .book .book-elements-wrap .cover-container {
    height: 657px;
    width: 474px;
  }   

  .book .book-elements-wrap .cover-container .rockstar-cover {
    height: 628px;
    width: 439px;
  }

  .book .book-elements-wrap .cover-container  .cover-plate {
    height: 628px;
    width: 439px;
  } 

  .book .book-elements-wrap .book-download-container {
    width: 585px;
    margin-top: 30px;
    margin-left: 0px;
  }  

  .book .book-elements-wrap .book-download-container .book-download-title {
    font-size: 22px;
  } 

  .book-description {
    font-size: 18px;
  } 

 
} 

/* media query 560px */

@media screen and (max-width: 560px) {

  .book .book-elements-wrap .cover-container {
    height: 465px;
    width: 330px;
  }   

  .book .book-elements-wrap .cover-container .rockstar-cover {
    height: 450px;
    width: 315px;
  }

  .book .book-elements-wrap .cover-container  .cover-plate {
    height: 450px;
    width: 315px;
    top: 15px;
    left: 15px;
  } 

  .book .book-elements-wrap .book-download-container {
    width: 450px;
  }  

  .book .book-elements-wrap .book-download-container .book-download-title {
    font-size: 20px;
  } 

  .book-description {
    font-size: 17px;
  } 

  /* media query 500px */

@media screen and (max-width: 500px) {

  .book .book-elements-wrap .book-download-container {
    width: 80%;
  }  

  .book .book-elements-wrap .book-download-container .book-download-title {
    font-size: 20px;
  } 

  .book-description {
    font-size: 17px;
  
  } 

    
  
  

}


} 

  /* media query 380px */

  @media screen and (max-width: 380px) {

    .book .book-elements-wrap .cover-container {
      height: 407px;
      width: 285px;
    }  

    .book .book-elements-wrap .cover-container .rockstar-cover {
      height: 386px;
      width: 270px;
    }
  
    .book .book-elements-wrap .cover-container  .cover-plate {
      height: 386px;
      width: 270px;
    } 

    .book .book-elements-wrap .book-download-container  .book-download-buttons .button-epub,.button-mobi,.button-pdf  {
      font-size: 15.5px;
      color: white;
      
      background: $orange;
      border: 2px solid $orange;
      border-radius: 2em;
      padding:0.25em 1.0em;
    }

  }
