/* Burger menu based on tutorial by Traversy media. Adapted to my project */

.menu-wrap {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 10;
  float: right;
  display: none;


  }

.menu-wrap .toggler {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 20;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 10;
  width: 50px;
  height: 50px;
  padding: 0.75rem;
  //background: lightcoral;
  //opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Burger menu line */

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgb(30,30,30);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and bottom line in burger menu using :after and :before  */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 10;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* moves one of the additional lines to the bottom (:after) */
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* styling the chceckbox, which is toggler in this case */
.menu-wrap .toggler:checked + .hamburger > div  {
  transform: rotate(135deg);

}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top:0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked + .menu-wrap  {
  position: fixed;

}


/* Rotate when it's hover */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}


/* Showing menu */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
  //transform: scale(1);
}

.menu-wrap .menu {
  //position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 350px;
  background: coral;
  background-color: lightcoral;

  padding-right: 10px;
  margin-top: -10px;
  margin-left: 5px;

  //transform: scale(0);
  font-size: 20px;
  //opacity: 0;
  //transition: all 0.4s ease;
  padding: 10px;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  //background: pink;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-top: 20px;
}




.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: white;
  margin-top: 6px;
  margin-left: -20px;
  margin-right: 10px;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;

}

.menu-wrap .menu > div > div > ul > li > a:hover {
  opacity: 0.7;
  transition: opacity 0.4s ease;

}


@media screen and (max-width: 1000px){

.menu-wrap {
  display: block;
  position: fixed;
}
}
